*{
    margin:0;
    padding:0;
    font-family: 'Roboto';
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(sharadesert.jpg);
    background-position: center;
    background-size: cover;  
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;   
}

.navbar{
    display: flex;
    height: 12%;
    align-items: center;
    /* padding-top: 10px; */
}

.logo{
    width: 60px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

a{
    text-decoration:none;
    color: white;
    font-size: 13px;  
    font-weight: bold;
    /* text-shadow: 25px;   */
}

a:hover{
    color:red;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    font-size: 90px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 13px;
    color: white;
    line-height: 25px;
}

button{
    width: 180px;
    color: black;
    background: white;
    font-size:15px;
    font-weight: bold;
    padding: 12px 0;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor:pointer;
}

.box{
    width:200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin: 10px 15px;
    color: white;
    transition: transform 0.5s;
}

h5{
    color: white;
    font-weight: bold;
    padding-bottom: 15px;
}

.format{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 10px;
    line-height: 25px;
}
.box1{
    background-image: url(./pic-1.png);
    background-size: cover;
    background-position: center;
}

.box2{
    background-image: url(./pic-2.png);
    background-size:cover;
    background-position: bottom;
}

.box3{
    background-image: url(./pic-3.png);
    background-size: cover;
    background-position: bottom;
}

.box4{
    background-image: url(./pic-4.png);
    background-size: cover;
    background-position:bottom;
}

.box:hover{
    transform:translateY(-10px); 
}

@media screen and (min-width:659px) and (max-width:980px) {
    .container {
        width: 110%;
        height: 285vh;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(sharadesert.jpg);
        background-position: center;
        background-size: contain;
        box-sizing: border-box;
        padding-left: 8%;
        padding-right: 8%;
        background-repeat: repeat-y;   
    }
    
    .menu-icon{
        width: 30px;
        cursor: pointer;
        margin-left: 60px;
    }

    .row{
        display: block;
    }

    .col{
        display: block;
    }

    .box{
        width:500px;
        height: 225px;
        display: block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing:border-box;
        cursor:pointer;
        margin: 20px 120px;
        color: white;
        transition: transform 0.5s;
    }

    .box:hover{
        transform: translateY(-10px);    
    }

    .box1{
        background-image: url(./pic-1.png);
        background-size: cover;
        background-position: center;
    }
    
    .box2{
        background-image: url(./pic-2.png);
        background-size:cover;
        background-position: center;
    }
    
    .box3{
        background-image: url(./pic-3.png);
        background-size: cover;
        background-position: center;
    }
    
    .box4{
        background-image: url(./pic-4.png);
        background-size: cover;
        background-position:center;
    }
    button{
        width: 180px;
        color: black;
        background: white;
        font-size:15px;
        font-weight: bold;
        padding: 12px 0;
        border: 0;
        border-radius: 20px;
        outline: none;
        margin-top: 20px;
        cursor:pointer;
    }
    a:hover{
        color:red;
    }
}

@media screen and (min-width:361px) and (max-width:658px) {
    .container {
        width: 216%;
        height: 425vh;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(sharadesert.jpg);
        background-position: center;
        background-size: contain;
        box-sizing: border-box;
        padding-left: 8%;
        padding-right: 8%;
        background-repeat: repeat-y;   
    }
    
    .logo{
        width: 100px;
        cursor: pointer;
    }

    .menu-icon{
        width: 60px;
        cursor: pointer;
        margin-left: 40px;
    }

    a{
        text-decoration:none;
        color: white;
        font-size: 23px;  
        font-weight: bold;  
    }
    a:hover{
        color:red;
    }
    p{
        font-size: 25px;
        line-height: 35px;
    }

    button{
        width: 660px;
        color: black;
        background: white;
        font-size:90px;
        font-weight: bold;
        padding: 32px 0;
        border: 0;
        border-radius: 40px;
        outline: none;
        margin-top: 30px;
        cursor:pointer;
    }

    .row{
        display: block;
    }

    .col{
        display: block;
    }

    .box{
        width:600px;
        height: 350px;
        display: block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing:border-box;
        cursor:pointer;
        margin: 20px 155px;
        color: white;
        transition: transform 0.5s;
    }

    .box1{
        background-image: url(./pic-1.png);
        background-size: cover;
        background-position: center;
    }
    
    .box2{
        background-image: url(./pic-2.png);
        background-size:cover;
        background-position: center;
    }
    
    .box3{
        background-image: url(./pic-3.png);
        background-size: cover;
        background-position: center;
    }
    
    .box4{
        background-image: url(./pic-4.png);
        background-size: cover;
        background-position:center;
    }
    button{
        width: 180px;
        color: black;
        background: white;
        font-size:15px;
        font-weight: bold;
        padding: 12px 0;
        border: 0;
        border-radius: 20px;
        outline: none;
        margin-top: 20px;
        cursor:pointer;
    }
}


@media screen and (min-width:50px) and (max-width:362px) {
    .container {
        width: 400%;
        height: 680vh;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(sharadesert.jpg);
        background-position: center;
        /* background-size: cover;   */
        box-sizing: border-box;
        padding-left: 8%;
        padding-right: 8%;
        background-repeat: repeat-y;   
    }
    
    
    .navbar{
        display: flex;
        height: 12%;
        align-items: center;
        /* padding-top: 10px; */
    }

    .logo{
        width: 180px;
        cursor: pointer;
    }

    .menu-icon{
        width: 110px;
        cursor: pointer;
        margin-left: 40px;
    }

    h1{
        font-size:150px;
    }

    nav{
        flex: 1;
        text-align: right;
    }
    
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-left: 60px;
    }
    
    a{
        text-decoration:none;
        color: white;
        font-size: 50px;  
        font-weight: bold;  
    }

    a:hover{
        color:red;
    }

    p{
        font-size: 45px;
        line-height: 60px;
    }

    button{
        width: 460px;
        color: black;
        background: white;
        font-size:30px;
        font-weight: bold;
        padding: 32px 0;
        border: 0;
        border-radius: 40px;
        outline: none;
        margin-top: 30px;
        cursor:pointer;
    }

    .row{
        display: block;
    }

    .col{
        display: block;
    }

    h5{
        color: white;
        font-weight: bold;
        padding-bottom: 15px;
        font-size: 35px;
    }
    
    .format{
        margin-top: 0px;
        padding-top: 0px;
        font-size: 30px;
        line-height: 55px;
    }

    .box{
        width:700px;
        height: 700px;
        display: block;
        border-radius: 50px;
        margin-top: 30px;
        padding: 15px 25px;
        box-sizing:border-box;
        cursor:pointer;
        margin: 30px 305px;
        color: white;
        transition: transform 0.5s;
    }

    .box1{
        background-image: url(./pic-1.png);
        background-size: cover;
        background-position: center;
    }
    
    .box2{
        background-image: url(./pic-2.png);
        background-size:cover;
        background-position: center;
    }
    
    .box3{
        background-image: url(./pic-3.png);
        background-size: cover;
        background-position: center;
    }
    
    .box4{
        background-image: url(./pic-4.png);
        background-size: cover;
        background-position:center;
    }
}